attach_patches
attack_result_csv
data.tar.xz
*.log
*.h5
**/Test
**/Train
**/test_DS*
**/train_DS*
**/.vscode
**/.ipynb_checkpoints
**/test_Files.zip
**/train_Files.zip
**/__pycache__
**/MNIST
**/MNIST.tar.gz
**/Gestures.zip
**/Gestures/gesture_dataset_200ms
**/Gestures/gesture_dataset_200ms.zip
.python-version
